%section#about
  .container
    .row-fluid.decorative-headline
      %span.span3
      %h2.span6 Wer ist dieser Typ eigentlich?
      %span.span3
    .row-fluid
      %p.big.sub-head.span10.offset1 Erfahre mehr über mich und meine Art der Zusammenarbeit und Vorgehensweisen.
    .row-fluid
      .portrait.span5
        %figure
          .image-vignette= image_tag('greg2.jpg')
          %figcaption.copyright
            %span &copy; 2012 by
            = link_to('zanthia', 'http://www.flickr.com/photos/zanthia/')
    
      .span7
        %p.about-me I have a very atypical path both personally and professionally. I was born in Cameroun and raised in 6 different countries and 3 continents. I speak English, French and Spanish fluently. I have been good at math and science since my childhood, studying and obtaining a diploma in Electronics Engineering. After working in that field for a couple of years, I decided to learn design on my own and have been working as a designer and developer since July 2007.
        %p.big One of the greatest things about being a designer with an engineer background is that not only can I take care of the graphical aspects of a project, but can also fully understand, participate and even take care of the highly technical aspects of those projects.