%section#about
  .container
    .row-fluid.decorative-headline
      %hr.span3
      %h2.span6 Wer ist dieser Typ eigentlich?
      %hr.span3
    .row-fluid
      %p.big.sub-head.span10.offset1 Erfahre mehr über mich und meine Art der Zusammenarbeit und Vorgehensweisen.
    .row-fluid
      .portrait.span5
        %figure
          .image-vignette= image_tag('greg2.jpg')
          %figcaption.copyright
            %span &copy; 2012 by
            = link_to('zanthia', 'http://www.flickr.com/photos/zanthia/')
    
      .span7
        %p.about-me Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.