%section#contact
  .container
    .row-fluid.decorative-headline
      %hr.span3
      %h2.span6 Habe ich Dein Interesse geweckt?
      %hr.span3
    .row-fluid
      %p.big.sub-head.span10.offset1 Wenn Du dir eine Zusammenarbeit vorstellen kannst dann schreibe mich einfach an!
    .row-fluid
      .social-contacts.span12
        = link_to "#", class: "social-contact sc-twitter" do
          %i.icon-twitter
        = link_to "#", class: "social-contact sc-linkedin" do
          %i.icon-linkedin
        = link_to "#", class: "social-contact sc-gplus" do
          %i.icon-google-plus
        = link_to "#", class: "social-contact sc-github" do
          %i.icon-github-alt
