%section#contact
  .container
    .row-fluid.decorative-headline
      %hr.span3
      %h2.span6 Habe ich Dein Interesse geweckt?
      %hr.span3
    .row-fluid
      %p.big.sub-head.span10.offset1 Wenn Du dir eine Zusammenarbeit vorstellen kannst dann schreibe mich einfach an!
