- content_for :title, "Frontend-Engineer und Agile Design Prophet"
- content_for :meta_keywords, "Anforderungsprofil, Spielerberater, Karriereplanung, Spielerbetreuung, Hamburg, Beratung, Management"
- content_for :meta_description, "Gregor Swatek ist ein in Hamburg lebender Web-Designer. Seine Leidenschaft ist das konzipieren und designen einfacher Interfaces die Spaß machen."
=# link_to "bla", "#", class: "logo"
=# image_tag("araso_logo@2x.png", :class => "hidden-phone")

%section#home
  .container
    .row-fluid.intro-teaser
      .span8.offset2{:style => "text-align: center"}
        %h1 Moin ich heiße Gregor!
        %p Ich bin Freiberuflicher Webdesigner aus Hamburg.
        %p Ich konzipiere und gestalte Mobile- und Web-Anwendungen, dabei lege ich besonderen Wert auf <a href="http://www.lukew.com/ff/entry.asp?933" class="highlight" title="Mobile First (http://www.lukew.com/)">Einfachheit</a> und <a href="http://futurefriend.ly/" class="highlight" title="Zukunftssichere Denkweise (http://futurefriend.ly/)">Flexibilität</a> der Anwendung genauso wie auf eine intuitive und benutzerfreundliche Bedienung.<br/>Als überzeugter <a href="http://opus.haw-hamburg.de/volltexte/2012/1619/" class="highlight" title="Agiler Designer">agiler Designer</a> sehe ich es als meine Aufgabe die interdisziplinäre Kommunikation, konkret zwischen den Entwicklern und dem Designer eines Teams, zu verbessern.
        %p Mit mir hast Du einen Partner an deiner Seite, der nicht nur in der Lage ist deine Prozesse zu verbessern und damit auch Projektkosten zu senken, sondern auch die nötige UI/UX Erfahrung mitbringt um deine Conversion Rate zu optimieren und folglich auch deinen Umsatz zu erhöhen.