- content_for :title, "Frontend-Engineer und Agile Design Prophet"
- content_for :meta_keywords, "Anforderungsprofil, Spielerberater, Karriereplanung, Spielerbetreuung, Hamburg, Beratung, Management"
- content_for :meta_description, "Gregor Swatek ist ein in Hamburg lebender Web-Designer. Seine Leidenschaft ist das konzipieren und designen einfacher Interfaces die Spaß machen."

%section#home
  .container
    .row-fluid.intro-teaser
      .span4
        =# link_to "bla", "#", class: "logo"
        = image_tag("araso_logo@2x.png", :class => "hidden-phone")
      .span8
        %h1 Moin moin ich heiße Gregor...
        %p ... und bin leidenschaftlicher <a href="#" class="highlight">Frontend-Engineer</a> und wenn es manchmal nicht anders geht ein überzeugter <a href="#" class="highlight">Agile Design Prophet</a>. Ich konzipiere und gestalte Mobile- und Web-Applikationen dabei lege ich besonders Wert auf <a href="http://www.lukew.com/ff/entry.asp?933" class="highlight" title="Mobile First (http://www.lukew.com/)">Einfachheit</a> und <a href="http://futurefriend.ly/" class="highlight" title="Zukunftssichere Denkweise (http://futurefriend.ly/)">Flexibilität</a> der Anwendung und dessen Bedienung.