%section#projects
  .container
    %h1 Was ich bisher gemacht habe!
    %p.big LOREM IPSUM DOLOR SIT AMET CONSETETUR SADIPSCING, SED DIAM NONUMY EIRMOD TEMPOR INVIDUNT UT LABORE ET DOLORE MAGNA ERAT.
    .row-fluid
      - 4.times do
        .project.span3
          .image= image_tag("http://araso.de/images/projects/rentnroll.png", :style => "border-radius:5px; width: 100%;")
          .details
            %a.project-link.pull-right{:href => "#"}
              %i.icon-link.icon-white
            %a.project-tags.pull-right{:href => "#"}
              %i.icon-tags.icon-white

    .row-fluid
      - 4.times do
        .project.span3
          .image= image_tag("http://araso.de/images/projects/mylugo.png", :style => "border-radius:5px; width: 100%;")
    .row-fluid
      - 4.times do
        .project.span3
          .image= image_tag("http://araso.de/images/projects/cashbits.png", :style => "border-radius:5px; width: 100%;")