%section#services-intro
  .container
    .row-fluid.decorative-headline
      %hr.span3
      %h2.span6 Wobei kann ich Ihnen helfen?      
      %hr.span3
    .row-fluid
      %p.big.sub-head.span10.offset1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row-fluid.services-wrapper
      .span12-fluid
        %article.row-fluid
          .service-teaser.span4
            %figure
              .image-vignette= image_tag('konzept_teaser.png')
              %figcaption
                %h2.retro-head.green Konzept
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .service-teaser.span4
            %figure
              .image-vignette= image_tag('design_teaser.png')
              %figcaption
                %h2.retro-head.blue Design
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .service-teaser.span4
            %figure
              .image-vignette= image_tag('development_teaser.png')
              %figcaption
                %h2.retro-head.red Entwicklung
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        %hr/