%section
  .container
    .row-fluid
      .span12-fluid
        %article.row-fluid
          .service-teaser.span4
            %h2.ribbon
              %span.ribbon-content Konzept
            %figure
              .image-vignette= image_tag('teaser_concept2.jpg')
              %figcaption
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .service-teaser.span4
            %h2.ribbon
              %span.ribbon-content Design
            %figure
              .image-vignette= image_tag('teaser_design.jpg')
              %figcaption
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .service-teaser.span4
            %h2.ribbon
              %span.ribbon-content Entwicklung
            %figure
              .image-vignette= image_tag('teaser_development.jpg')
              %figcaption
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        %hr/