%section#services
  .container
    .row-fluid.decorative-headline
      %hr.span3
      %h2.span6 Wobei kann ich Ihnen helfen?      
      %hr.span3
    %article.service.row-fluid
      = image_tag('teaser_concept2.jpg', :class => "span4", :style => "opacity:.2")
      .span5.offset1
        %h3 Konzept
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    %article.service.row-fluid
      .span5.offset2
        %h3 Design
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      = image_tag('teaser_design.jpg', :class => "span4 offset1", :style => "opacity:.2")
          
    %article.service.row-fluid
      = image_tag('teaser_development.jpg', :class => "span4", :style => "opacity:.2")
      .span5.offset1
        %h3 Entwicklung
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    
    %hr/