- content_for :title, "Die Agentur"
- content_for :meta_keywords, "Anforderungsprofil, Spielerberater, Karriereplanung, Spielerbetreuung, Hamburg, Beratung, Management"
- content_for :meta_description, "Vision und Ziele sowie Anforderungsprofil und Grundsätze des Unternehmens."

= render :partial => 'home'


/ = render :partial => 'services_intro'


= render :partial => 'services'


= render :partial => 'projects'


= render :partial => 'about'

