select, textarea, input[type=text]
  +border-radius(0px)
  +box-shadow(0 0 0px 5px rgba(0,0,0,0.2))
  +single-transition
  font-family: 'Droid Serif', serif
  font-size: $font-size-middle
  color: $grey
  height: auto
  line-height: 1.7em
  margin: 1%
  padding: 1%
  border: 0
  width: 96%
  &:focus
    +box-shadow(0 0 0px 5px rgba(0,0,0,0.3))

*:focus
  outline: none

.field_with_errors > input,
.field_with_errors > textarea
  outline: 2px solid $araso-red

button.btn.btn-primary
  +background($dark-grey)
  +text-shadow(0 -1px 0 rgba(0,0,0,.3))
  +box-shadow(0 2px 0 rgba(0,0,0,.1))
  +border-radius(0px)
  border: 1px solid $dark-grey
  font-family: 'Droid Serif', serif
  font-size: $font-size-middle
  line-height: 1.7em
  padding: $line-height / 2 $line-height
  &:hover
    background: darken($dark-grey,5%)

form#new_message label
  font-size: $font-size-middle  
form#new_message .field
  margin-bottom: $line-height
  &.actions > [class*="span"]
    text-align: center
form#new_message .field > [class*="span"]
  float: none
  margin: 0 auto

form#new_message .btn.btn-primary
  font-size: $font-size-middle

#flash
  position: fixed
  top: 41px
  left: 0
  width: 100%
  z-index: 2
  #flash_alert
    background-color: $araso-red
    +box-shadow(0 2px 0 rgba(0,0,0,.1))
  #flash_notice
    background-color: $araso-green
    +box-shadow(0 2px 0 rgba(0,0,0,.1))
  p
    color: white
    margin: 0 auto
    width: 75%
    text-align: center
    +text-shadow(none)
    padding: $line-height 0
    line-height: 1.5em