$font-size: 16px
$font-size-middle: 18px

$line-height: $font-size-middle

//@font-face
//  font-family: 'fontinbold'
//  src: url('/fonts/fontin/fontin-bold-webfont.eot')
//  src: url('/fonts/fontin/fontin-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontin/fontin-bold-webfont.woff') format('woff'), url('/fonts/fontin/fontin-bold-webfont.ttf') format('truetype'), url('/fonts/fontin/fontin-bold-webfont.svg#fontinbold') format('svg')
//  font-weight: normal
//  font-style: normal
//
//
//@font-face
//  font-family: 'fontinitalic'
//  src: url('/fonts/fontin/fontin-italic-webfont.eot')
//  src: url('/fonts/fontin/fontin-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontin/fontin-italic-webfont.woff') format('woff'), url('/fonts/fontin/fontin-italic-webfont.ttf') format('truetype'), url('/fonts/fontin/fontin-italic-webfont.svg#fontinitalic') format('svg')
//  font-weight: normal
//  font-style: normal
//
//@font-face
//  font-family: 'fontinregular'
//  src: url('/fonts/fontin/fontin-regular-webfont.eot')
//  src: url('/fonts/fontin/fontin-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontin/fontin-regular-webfont.woff') format('woff'), url('/fonts/fontin/fontin-regular-webfont.ttf') format('truetype'), url('/fonts/fontin/fontin-regular-webfont.svg#fontinregular') format('svg')
//  font-weight: normal
//  font-style: normal

@font-face
  font-family: 'StonyIsland Regular'
  src: url('/fonts/stonin/stonin.eot')
  src: url('/fonts/stonin/stonin.eot?#iefix') format('embedded-opentype'), url('/fonts/stonin/stonin.woff') format('woff'), url('/fonts/stonin/stonin.ttf') format('truetype'), url('/fonts/stonin/stonin.svg#stonyislandnfregular') format('svg')
  font-weight: normal
  font-style: normal

body
  font-family: 'Droid Serif', serif
  font-size: $font-size

=h1
  font:
    family: 'StonyIsland Regular', 'sans serif'
    weight: normal
    size: $font-size * 2.5
  color: $araso-red
  letter-spacing: 1px
  line-height: 1.5em
  margin:
    top: 0
    bottom: $line-height
  

=h2
  font-family: 'StonyIsland Regular', 'sans serif'
  font-weight: normal
  letter-spacing: 1px
  font-size: $font-size * 1.7
  letter-spacing: 1px
  line-height: 1.5em
  margin:
    top: 0
    bottom: $line-height

=h3
  font-family: 'StonyIsland Regular', 'sans serif'
  font-weight: bold
  letter-spacing: 1px
  font-size: $font-size * 1.4
  line-height: 1.3em
  margin:
    top: 0
    bottom: $line-height

=h4
  font-family: 'StonyIsland Regular', 'sans serif'
  font-weight: bold
  font-size: $font-size-middle
  line-height: 1.3em
  margin:
    top: 0
    bottom: $line-height

h1
  +h1

h2
  +h1
  +text-shadow(0px 2px 0 rgba(0, 0, 0, 0.2))
  
h3
  +h2

h4
  +h3

//+text-shadow(rgb(45, 53, 72) 2px 2px 0px,rgb(160, 73, 55) 4px 4px 0px,rgb(255, 199, 187) 0px -1px 0px)
.intro-teaser h1
  +text-shadow(rgb(45, 53, 72) 2px 2px 0px,rgb(236, 97, 68) 4px 4px 0px)
  font:
    size: $font-size * 3.5
    style: italic
  letter-spacing: 2px
  margin-top: $line-height
  color: white
  
p.big
  font:
    family: 'Open Sans', sans-serif
    weight: 300
    size: $font-size-middle
  text-transform: uppercase
  line-height: 1.5em
  
#projects p.big
  color: #CCC
  margin-bottom: $line-height * 2
  
hr
  border-bottom: 1px solid rgba(255,255,255,0.8)
  border-top: 1px solid rgba(0,0,0,.1)
  margin: $line-height * 3 auto
  height: 0px !important
  line-height: 0px !important
  min-height: 0px !important
  width: 33%

#projects hr
  border-bottom: 1px solid rgba(255,255,255,0.2)
  border-top: 1px solid rgba(0,0,0,.8)


.decorative-headline
  hr
    margin:
      top: 1.5em
      bottom: 1.5em
  h2
    margin-bottom: 0
    text-align: center
.highlight
  border-bottom: 3px double $light-blue
  &:hover
    border-color: $lighter-blue

.intro-teaser a.highlight
  cursor: help
  color: white
  text-decoration: none
  &:hover, &:focus
    text-decoration: none
  &:visited
    color: #CCC