/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require_tree .
 *= require bootstrap_and_overrides
 */


body
  background: #EFEFEF image-url("pattern/satinweave.png") 0 0 repeat
  
.logo
  width: 272px
  height: 271px
  background:
    image: image-url("araso_logo.png")
    repeat: no-repeat
  text-indent: -99999px
  display: block

  
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
  body
    background: 
      color: #EFEFEF 
      image: image-url("pattern/satinweave_@2X.png")
      position: 0 0 
      repeat: repeat
      size: 24px 12px
  
  .logo
    background:
      image: image-url("araso_logo@2x.png")
      size: 272px 271px

  .navbar-inner
    background:
      image: image-url("pattern/blackorchid_@2X.png")
      size: 300px 300px